.heading
{
    width: 100%;
    margin: 0px;
    font-size: 27px;
    box-shadow: 6px 7px 12px orangered;
    font-family: 'Fredoka One', cursive;
}

.heading_div
{
    float: none;
    background: whitesmoke;
    padding: 10px;
    box-shadow: 5px 5px 5px black ;
    color: royalblue;
    border-radius: 20px;
    font-family: 'Bebas Neue', cursive;
}

.heading_div2
{
    font-size: 18px;
}

.result_para_tag
{
    font-size: 18px;
    box-shadow: 5px 5px 5px pink;
}

.copy_right_footer
{
    position: fixed;
    text-align: center;
    bottom: 0;
    background-color: darkgoldenrod;
    color: blue;
    width: 100%;
    line-height: 20px;
}

canvas{
    margin-top: 150px;
    box-shadow: 5px 5px 5px royalblue;
    border: 5px solid turquoise;
    border-radius: 20px;
}